
    
    <center>
        <h1>Listado de productos</h1>
    </center>

    {{#if state }}
       <table class="table">
        <thead class="table-dark">
            <tr>
            
            <th scope="col">Nombre</th>
            <th scope="col">Precio</th>
            <th scope="col">Foto</th>

            </tr>
        </thead>
        <tbody>
            
    
            {{#if productos}}
                {{#each productos}}
                    <tr>
                    <td>{{this.title}}</td>
                    <td>{{this.price}}</td>
                    <td>
                        <img alt="image" src="{{this.thumbail}}"
                            width="50" height="50" />
                        </td>
                    </tr>
                {{/each}}
            {{/if}}

        </tbody>
    </table>

    {{else}}
    <table class="table">
        <thead class="table-dark">
            <tr>
            
            <th scope="col">Nombre</th>
            <th scope="col">Precio</th>
            <th scope="col">Foto</th>

            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
     <h1><center>No se encontrarón productos</center></h1>
    {{/if}}
         
   <a href="/" class="btn btn-primary btn-lg" role="button">Agregar producto</a>
    <br>