
            <div class="jumbotron jumbotron-fluid">
                
                <div class="container">
                  <h1 class="display-4">Mensajes</h1>

                    <div id="sizenorma">
                      
                    </div>

                  <form>
                    
                    <div class="form-group">
                      
                      <label for="exampleFormControlInput1">Email address</label>
                      <input type="email" id="usermail" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
                    
                    </div>

                    <div class="form-group">
                      
                      <label for="nombreFormControlInput1">Nombre</label>
                      <input type="text" id="nombre" class="form-control" id="nombreFormControlInput1" placeholder="nombre">
                    
                    </div>

                    <div class="form-group">
                      
                      <label for="apellidoFormControlInput1">Apellido</label>
                      <input type="text" id="apellido" class="form-control" id="apellidoFormControlInput1" placeholder="apellido">
                    
                    </div>

                    <div class="form-group">
                      
                      <label for="edadFormControlInput1">Edad</label>
                      <input type="text" id="edad" class="form-control" id="edadFormControlInput1" placeholder="edad">
                    
                    </div>

                    <div class="form-group">
                      
                      <label for="aliasFormControlInput1">Alias</label>
                      <input type="text" id="alias" class="form-control" id="aliasFormControlInput1" placeholder="alias">
                    
                    </div>

                    <div class="form-group">
                      
                      <label for="avatarFormControlInput1">Avatar</label>
                      <input type="text" id="avatar" class="form-control" id="avatarFormControlInput1" placeholder="avatar">
                    
                    </div>
                    
                    <div class="form-group" id="chatarea">
                      
                    </div>

                    <div class="form-group">
                      
                        <label for="exampleFormControlTextarea2">Example textarea</label>
                       
                       <textarea id="msgtext1" class="form-control" id="exampleFormControlTextarea2" rows="2"></textarea>
 
                     </div>


                     <button type="button" id="boton2" class="btn btn-primary">Send msg</button>

                </form>

                </div>

                
            </div>