<center>
                <h1>Formulario de productos</h1>
            </center>

            <form id="producto" action="#">
                <div class="form-group">
                  <label for="titulo">Titulo</label>
                  <input type="text" class="form-control" name="name" id="name" aria-describedby="tituloHelp" placeholder="Ingrese un titulo">
                </div>

                <div class="form-group">
                    <label for="Precio">Precio</label>
                    <input type="text" class="form-control" name="price" id="price" aria-describedby="precioHelp" placeholder="Ingrese un precio">
                </div>

                <div class="form-group">
                    <label for="Thumbail">Thumbail</label>
                    <input type="text" class="form-control" name="thumbail" id="thumbail" aria-describedby="thumbailHelp" placeholder="Ingrese una imagen">
                </div>
               
                <button type="button" id="boton1" class="btn btn-primary">Submit</button>
              </form>

            <br>
            <hr>
<br>