
<center>
    <h1>Formulario de productos</h1>
</center>

<h2>Ingrese Producto</h2>
<form action="/api/productos/guardar" method="POST">
    Titulo: <input type="text" name="title">
    Precio: <input type="text" name="price">
    Url imagen: <input type="text" name="thumbail">
    <button>Enviar</button>
</form>

 <a href="/" class="btn btn-primary btn-lg" role="button">Home</a>

<br>