
            <div class="jumbotron jumbotron-fluid">
                
                <div class="container">
                  <h1 class="display-4">Mensajes</h1>

                  <form>
                    
                    <div class="form-group">
                      
                      <label for="exampleFormControlInput1">Email address</label>
                      <input type="email" id="usermail" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
                    
                    </div>
                    
                    <div class="form-group" id="chatarea">
                      
                    </div>

                    <div class="form-group">
                      
                        <label for="exampleFormControlTextarea2">Example textarea</label>
                       
                       <textarea id="msgtext1" class="form-control" id="exampleFormControlTextarea2" rows="2"></textarea>
 
                     </div>


                     <button type="button" id="boton2" class="btn btn-primary">Send msg</button>

                </form>

                </div>

                
            </div>